<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suomi25</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% if session.username %}
<h1>TERVETULOA SUOMI25 KESKUSTELUPALSTALLE JOKA ON MAAILMAN PARAS KESKUSTELUPALSTA IKINÄ</h1>

<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
<a href="/user/{{ session.id }}">Omat tiedot</a>



<hr>
{%if followlist != []%}
<h2>Seuraamasi keskustelut:</h2>
{% for follow in followslist %}
<a href="/thread/{{ follow[0] }}">{{ follow[1] }}</a>
<hr>
{% endfor %}
{% endif %}




<h2>Kaikki keskustelualueet (keskusteluaihealueiden määrä: {{ count }}):</h2>
{% if session.admin == 1%}
<p></p>
<a href="/newsubjectarea">Klikkaa tästä luodaksesi uuden keskustelualueen (vain ylläpitäjille).</a>
{% endif %}

{% if session.admin == 1%}
<hr>
{% for subjectarea in subjectarea %}
<a href="/subjectarea/{{ subjectarea.shortname }}">{{ subjectarea.subjectarea }} </a>
<a href="/deletesubjectarea/{{ subjectarea.shortname }}">    Poista keskustelualue </a>
<hr>
{% endfor %}
{%endif%}

{% if session.admin == 0%}
<hr>
{% for subjectarea in subjectarea %}
<a href="/subjectarea/{{ subjectarea.shortname }}">{{ subjectarea.subjectarea }} </a>
<hr>
{% endfor %}
{%endif%}


{% else %}
<p>Sinun on kirjauduttava sisään käyttääksesi Suomi25-palvelua</p>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<a href="/signinpage">Luo uusi käyttäjä</a>

{% endif %}




</body>
</html>

