<form action="/signinnew" method="POST">
<p>Käyttäjänimi (maksimipituus on 30 merkkiä):<br>
<input type="text" name="username"></p>
<p>Salasana (vähintään 8 merkkiä pitkä):<br>
<input type="password" name="password"></p>
Haluatko olla ylläpitäjä?
<p>

<input type="radio" name="admin" value=1> Kyllä
<input type="radio" name="admin" value=0> En
<p>
<input type="submit" value="Luo käyttäjä">
</form>

<script>
function check(form) {
    if (form.username.value.lenght > 30) {
        alert("Käyttäjänimi on liian pitkä");
        return false
    }
    return true;
}

</script>