<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suomi25</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a href="/"><h1>SUOMI25</h1></a>
    <p>TÄÄLLÄ SAA PUHUA VAIN JA AINOASTAAN AIHEESTA: {{subjectareaname}}</p>
    
    
    <a href="/newthread"> Luo uusi keskustelu</a>
    <p>Keskustelut:</p>
    
    {%if session.admin == 1%}
    <hr>
    {% for thread in threads %}
    
    <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
    <a href="/deletethread/{{ thread.id }}">   Poista keskustelu</a>
    <hr>
    {% endfor %}
    {%endif%}    
        
    {%if session.admin == 0%}
        <hr>
        {% for thread in threads %}
            {%if session.id != thread.userid %}    
                <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
                <hr>
            {%endif%}
            {%if session.id == thread.userid%}    
                <a href="/thread/{{ thread.id }}">{{ thread.title }}<a href="/deletethread/{{ thread.id }}">   Poista keskustelu</a></a>
                <hr>
            {%endif%}
        {% endfor %}
    {%endif%}    
    
    
</body>
</html>

